/*В целом это плохая практика, пробрасывать какое-то свойство на все тэги сразу. Но ТОЛЬКО В ДЕМОНСТРАЦИОННЫХ ЦЕЛЯХ и только потому что
во всем документе используется один шрифт мы позволили себе присвоить семейство любого шрифта без засечек для всех тэгов сразу*/

/*Класс, отвечающий за "рамку", в которой находится весь контент*/
.container {
  font-family: sans-serif;
  width: 1280px;
  margin: 0 auto; /*верхний и нижний отступ будет нулевыми, боковые - автоматически подберутся одинаковыми*/
}

/*самый верхний блок страницы*/
.head-block {
  /*Присваиваем блоку фон*/
  background-image: url("../img/top-bg.png"); /*путь к картинке*/
  background-repeat: no-repeat; /*для того, чтобы картинка не вставлялась рядом повторно, если ее не хватит на всю ширину или высоту*/
  background-size: cover; /*растянет картинку по всему блоку сохраняя пропорции*/
  /*созаем некую рамку из отступов, внутри которой будет помещатся контент. Это делается ВНУТРЕННИМИ ОТСТУПАМИ для универсонализации секции, чтобы контент в ней помещался по строго определенному правилу*/
  padding-top: 600px;
  padding-bottom: 100px;
  /*так как дочерние елементы наследуют текстовые свойства, а у нас весь текст белый внутри секции, задаем это свойство родителю*/
  color: white;
}

.head-block-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.head-block-subtitle {
  font-size: 18px;
  margin-bottom: 30px
}

.head-block-slogan {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 45px 35px;
  background-color:rgba(0,0, 0, 0.5);
  display: inline-block;
  border: 1px solid white;
}

.slogan-margin {
    margin-right: 50px;    
}

.basic-block {
  text-align: center;
  color: #333;
  padding: 70px 0;
}

.basic-block-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.basic-block-subtitle {
  font-weight: normal;
  font-size: 17px;
  margin-top: 35px;
}

.basic-block-line {
  border-top: 3px solid #f1ad1d; /*так как блок должен представлять из себя горизонтальную линию, имитируем ее при помощи стилизированной верхней границы елемента*/
  width: 60px;
  margin: 50px auto 50px; /*запись с тремя цифрами разцифровуется так: верхний | боковые | нижний*/
}

.nav-bar-logo {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin-right: 238px;
}

.nav-bar-menu {
    display: inline-block;
}

.nav-bar-link {
    font-size: 18px;
    margin: 0 30px;
}

.yellow-text {
    color: #f1ad1d;
}
